@model TaxCalculator.Models.TaxPayer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tax Calculator</h1>


    <h1>Personal Income Tax Amount: @ViewData["PITAmount"]</h1>
    <hr />

 
</div>
