@model TaxCalculator.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tax Calculator</h1>

    <hr />
    <form asp-action="BasicTaxResults" method="post">

        <h3>Deductions</h3>

        <p>Retirement Fund</p>
        <div class="form-group">
            <input asp-for="RetirementDeduction" class="form-control" />
        </div>

        <p>Donations</p>
        <div class="form-group">
            <input asp-for="DonationDeduction" class="form-control" />
        </div>

        <h3>Age & Salary </h3>
        <p>Input age</p>
        <div class="form-group">
            <input asp-for="Age" class="form-control" />
        </div>

        <p>Input Yearly Income ( before tax ) </p>
        <div class="form-group">
            <input asp-for="YearlySalary" class="form-control" />
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>

</div>